---
# For use with mysql running on machine or in its own container 
spring:
  datasource:
    username: ${DB_USER:user}
    password: ${DB_PASSWORD:password}

  flyway:
    user: ${DB_USER:user}
    password: ${DB_PASSWORD:password}

...

